.canvas-window {
  padding-bottom: 5px;

  height: fit-content;
}

canvas {
  border: 5px solid black;
  background-color: white;
  width: 600px;
  height: 600px;

  padding: 5px;
}

.canvas-content {
  position: relative; /* Allows for absolute positioning of canvas overlay. */
}
