.canvas-overlay-container {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  z-index: 50;

  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 4rem;
}



.round-over-container {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;

}