.message-feed-window {
  /* height: clamp(200px, 30vw, 400px); */
  height: fit-content;
}

.message-feed-container {
  display: flex;
  flex-direction: column;
  width: clamp(200px, 20vw, 400px);
}

.message-feed-scroll-view {
  background-color: white;
  overflow-y: auto;
  height: clamp(200px, 40vh, 400px);

  padding: 5px;
  z-index: 100;
}

.message-item {
  width: 100%;
  z-index: -10;

  &.collision {
    color: red;
  }

  &.player-exit {
    color: blue;
  }

  &.player-join {
    color: green;
  }

  &.default {
    color: black;
  }
}
