.message-feed-container {
  display: flex;
  flex-direction: column;

  width: 300px;
}

.message-feed-scroll-view {
  height: 550px;
  background-color: white;
  overflow-y: auto;
  padding: 5px;
  z-index: 100;
}

.message-item {
  width: 100%;

  &.collision {
    color: red;
  }

  &.player-exit {
    color: blue;
  }

  &.player-join {
    color: green;
  }

  &.default {
    color: black;
  }
}
