.player-list-window {
  height: fit-content;
  width: fit-content;
}

.player-list-row {
  td {
    text-align: center;
    height: 1rem;
  }

  .avatar-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
